<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/facturacion</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="modelo.Factura"/>
    <mapping class="modelo.Administrador"/>
    <mapping class="modelo.Cliente"/> 
    <mapping class="modelo.OrdenFact"/>
    <mapping class="modelo.Placa"/>
    <mapping class="modelo.Producto"/>
    <mapping class="modelo.Usuario"/>
    <mapping class="modelo.Vendedor"/>
  </session-factory>
</hibernate-configuration>
